# Maven Files #
###############
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

# Java class #
##############
*.class

# Config files #
################
# config.xml
## Has to be uncommented at the end of developement 
## or config.sample.xml has to be created as a model

# Mobile Tools for Java (J2ME) #
################################
.mtj.tmp/

# Package Files #
#################
*.jar
*.war
*.ear

## virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
