<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <State id="0">
        <message>Salut, mon nom est Genius. Comment tu t'appelles ?</message>
    </State>

    <State id="1">
        <message>De quoi as-tu besoin ?</message>
    </State>

    <State id="2">
        <message>Salut [name], comment vas tu ?</message>
    </State>
    
    <MessagesInvalid>
        <message>Oups, je n'ai pas compris.</message>
        <message>Pardon ?</message>
        <message>Peux-tu reformuler ?</message>
        <message>Désolé je ne comprends vraiment rien ...</message>
    </MessagesInvalid>
</Config>
