<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <Step id="0">
        <message>Salut, mon nom est Genius. Comment tu t'appelles ?</message>
        <keywords>
            <keyword target="2" variable="name">.*nom est ([a-zA-z]+).*</keyword>
            <keyword target="2" variable="name">([a-zA-Z ]+)</keyword>
        </keywords>
    </Step>

    <Step id="1">
        <message>De quoi as-tu besoin ?</message>
        <keywords>
      
            <keyword className="CalendarPlugin" method="getNextMeeting" variable="name">.*verrai ([a-zA-z]+).*</keyword>
            <keyword className="CalendarPlugin" method="getHours" defaultArg="empty">quel heure</keyword>
            <keyword className="CalendarPlugin" method="getProgrammeJournee" defaultArg="empty">programme journee,programme journée,aujourd'hui</keyword>
            <keyword className="CalendarPlugin" method="getProgrammeSemaine" defaultArg="empty">programme semaine</keyword>
            <keyword className="CalendarPlugin" method="getNextRDV" defaultArg="empty">prochain rdv,prochain rendez</keyword>
            
            
            <keyword className="ContactPlugin" method="knowsHim" variable="essai">.*Connais-tu ([a-zA-z]+ [a-zA-z]+).*</keyword>
            <keyword className="ContactPlugin" method="whereLeaves" variable="essai">.*Où habite ([a-zA-z]+ [a-zA-z]+).*</keyword>
            <keyword className="ContactPlugin" method="whereLeaves" variable="essai">.*Où vit ([a-zA-z]+ [a-zA-z]+).*</keyword>
            <keyword className="ContactPlugin" method="allAboutHim" variable="essai">.*Dis moi tout ce que tu sais sur ([a-zA-z]+ [a-zA-z]+).*</keyword>
            <keyword className="ContactPlugin" method="allAboutHim" variable="essai">.*Qui est ([a-zA-z]+ [a-zA-z]+).*</keyword>
            <keyword className="ContactPlugin" method="whenBorns" variable="essai">.*Quand est né ([a-zA-z]+ [a-zA-z]+).*</keyword>
            <keyword className="ContactPlugin" method="whenBorns" variable="essai">.*Quelle est la date de naissance de ([a-zA-z]+ [a-zA-z]+).*</keyword>
            <keyword className="ContactPlugin" method="phone" variable="essai">.*Quel est le numéro de téléphone de ([a-zA-z]+ [a-zA-z]+).*</keyword>
            <keyword className="ContactPlugin" method="whoLivesIn" variable="essai">.*Qui habite à ([a-zA-z]+).*</keyword>
            <keyword className="ContactPlugin" method="mail" variable="essai">.*Quel est le mail de ([a-zA-z]+ [a-zA-z]+).*</keyword>
            <keyword className="ContactPlugin" method="whoHasMore" variable="essai">.*Qui a plus de ([0-9]+).*</keyword>
                                
        </keywords>
    </Step>

    <Step id="2">
        <message>Salut [name], comment vas tu ?</message>
        <keywords>
            <keyword target="3">Bien et toi ?,Cool,Sa roule</keyword>
            <keyword target="4">Bof,pas trop,mal,triste</keyword>
            <keyword target="5">Sa va,normal</keyword>
            <keyword target="6">sais pas,sais rien</keyword>
            <keyword target="9">Je ne répondrai pas à ta question</keyword>
        </keywords>
    </Step>
    
    <Step id="3">
        <message>Super !</message>
        <message>Cool !</message>
        <message>Content pour toi :)</message>
        <keywords>
            <keyword target="1">*</keyword>
        </keywords>
    </Step>
    
    <Step id="4">
        <message>:( Oh tout le monde est triste ou quoi ?</message>
        <message>J'espère que sa ira mieux pour toi ;)</message>
        <keywords>
            <keyword target="1">*</keyword>
        </keywords>
    </Step>
    
    <Step id="5">
        <message>Ok</message>
        <message>Peut être une blague pour que tu me dises je vais bien ?</message>
        <keywords>
            <keyword target="1">*</keyword>
            <keyword target="7">oui</keyword>
        </keywords>
    </Step>
    
    <Step id="6">
        <message>Il m'arrive de me sentir perdu aussi. (Non je rigole)</message>
        <message>www.perdu.com ?</message>
        <keywords>
            <keyword target="1">*</keyword>
        </keywords>
    </Step>
    
    <Step id="7">
        <message>Alors c'est toto euh ... il euh ... Faudrais peut être me configurer un plugin qui génère des blagues ?</message>
        <keywords>
            <keyword target="1">*</keyword>
            <keyword target="8">oui, surement, probablement, daccord</keyword>
        </keywords>
    </Step>
    
    <Step id="8">
        <message>Sinon va sur www.blague.com =D</message>
        <keywords>
            <keyword target="1">*</keyword>
        </keywords>
    </Step>
    
     <Step id="9">
        <message>Tu es désagréable</message>
        <keywords>
            <keyword target="1">*</keyword>
        </keywords>
    </Step>
    
    
    
    <MessagesInvalid>
        <message>Oups, je n'ai pas compris.</message>
        <message>Pardon ?</message>
        <message>Peux-tu reformuler ?</message>
        <message>Désolé je ne comprends vraiment rien ...</message>
    </MessagesInvalid>
</Config>
