<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <Step id="0">
        <message>Salut, mon nom est Genius. Comment tu t'appelles ?</message>
        <keywords>
            <keyword target="2" variable="name">.*nom est ([a-zA-z]+).*</keyword>
            <keyword target="2" variable="name">([a-zA-Z ]+)</keyword>
        </keywords>
    </Step>

    <Step id="1">
        <message>De quoi as-tu besoin ?</message>
    </Step>

    <Step id="2">
        <message>Salut [name], comment vas tu ?</message>
    </Step>
    
    <MessagesInvalid>
        <message>Oups, je n'ai pas compris.</message>
        <message>Pardon ?</message>
        <message>Peux-tu reformuler ?</message>
        <message>Désolé je ne comprends vraiment rien ...</message>
    </MessagesInvalid>
</Config>
